/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/04/2020, 11:54:35 PM
    Author     : leiner.arce
*/

.gray_image{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img.gray_image:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.colorImg{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}