header{
    background-color: rgb(42, 47, 53);
    padding-bottom: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(42, 47, 53);
  color: rgb(255, 105, 45);
  text-align: center;
}

.logo>img{ 
    margin-top: 10px; 
    height: 40px;
    width: auto;
}

.logo>span{
    font-family:  cursive; 
    font-size: 2em;
    color: rgb(255, 105, 45)
}

body{
    background:  url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}

